PORT=3000
FAVORIOT_BASE_URL=https://apiv2.favoriot.com/v2
FAVORIOT_API_KEY=YOUR_FAVORIOT_API_KEY
FAVORIOT_TOKEN=YOUR_FAVORIOT_TOKEN
FAVORIOT_DEVICE_ID=YOUR_DEVICE_ID
FAVORIOT_DEVICE_DEVELOPER_ID=YOUR_DEVICE_DEVELOPER_ID
FAVORIOT_TOKEN_HEADER=apikey